@font-face {
    font-family:Roboto-Regular;
    src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family:Montserrat-Regular ;
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(/fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Merriweather-LightItalic;
    src: url(/fonts/Merriweather-LightItalic.ttf);
}
@font-face {
    font-family:HelveticaNeuePro-Lt ;
    src: url(/fonts/HelveticaNeueLTProLt.otf);
}